<div class="body">
  <!-- <app-databinding></app-databinding> -->
  <!-- <app-directives>
      <h1>This Content is from Parent/Body Component</h1>
  </app-directives> -->
  <!-- <app-my-modal>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td>Data-1</td>
          <td>Data-2</td>
          <td>Data-3</td>
        </tr>
        <tr>
          <td>Data-1</td>
          <td>Data-2</td>
          <td>Data-3</td>
        </tr>
        <tr>
          <td>Data-1</td>
          <td>Data-2</td>
          <td>Data-3</td>
        </tr>
        <tr>
          <td>Data-1</td>
          <td>Data-2</td>
          <td>Data-3</td>
        </tr>
        <tr>
          <td>Data-1</td>
          <td>Data-2</td>
          <td>Data-3</td>
        </tr>
      </tbody>
    </table>
  </app-my-modal> -->
  <!-- <app-users></app-users> -->
  <!-- <app-products></app-products> -->
  <!-- <button class="btn btn-danger" (click)="flag=!flag">Toggle Flag</button>
   @if(flag){
     <app-demo1></app-demo1>
   }@else {
    <app-demo2></app-demo2>
   } -->
  <!-- <app-employee-crud></app-employee-crud> -->
  <!-- <app-pipes></app-pipes> -->
  <!-- <app-parent></app-parent> -->
  <!-- <app-math1></app-math1>
   <app-math2></app-math2> -->
  <!-- <app-http-demo1></app-http-demo1> -->
  <!-- <app-product-list></app-product-list> -->
  <!-- <app-employee></app-employee> -->
  <!-- <app-observable-demo1></app-observable-demo1> -->
  <!-- <app-folder-explorer [folderObj]="folderObj"></app-folder-explorer> -->
  <!-- <app-observable-demo2></app-observable-demo2> -->
  <!-- <app-subject-demo1></app-subject-demo1> -->
  <!-- <app-signal-demo1></app-signal-demo1> -->
   <!-- <app-form-demo1></app-form-demo1> -->
   <!-- <app-form-demo2></app-form-demo2> -->
   <!-- <app-form-demo3></app-form-demo3> -->
   <!-- <app-form-demo4></app-form-demo4> -->
    <router-outlet></router-outlet>
</div>
