<div class="body">
  <!-- <app-databinding></app-databinding> -->
  <!-- <app-directives>
      <h1>This Content is from Parent/Body Component</h1>
  </app-directives> -->
  <!-- <app-my-modal>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td>Data-1</td>
          <td>Data-2</td>
          <td>Data-3</td>
        </tr>
        <tr>
          <td>Data-1</td>
          <td>Data-2</td>
          <td>Data-3</td>
        </tr>
        <tr>
          <td>Data-1</td>
          <td>Data-2</td>
          <td>Data-3</td>
        </tr>
        <tr>
          <td>Data-1</td>
          <td>Data-2</td>
          <td>Data-3</td>
        </tr>
        <tr>
          <td>Data-1</td>
          <td>Data-2</td>
          <td>Data-3</td>
        </tr>
      </tbody>
    </table>
  </app-my-modal> -->
  <!-- <app-users></app-users> -->
  <!-- <app-products></app-products> -->
  <!-- <app-demo1></app-demo1> -->
  <app-employee-crud></app-employee-crud>
</div>